body,
html {
  font-family: "Muli", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #127e71;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

p,
li {
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  list-style-type: none;
  text-align: justify;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #127e71;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #cccccc;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
